<!DOCTYPE html>
<html>
<head>
  <title>SMS Sender</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <form method="POST" action="/">
    <label for="sender">Sender Name:</label>
    <input type="text" name="sender" required maxlength="20" pattern="^[A-Za-z\s]{1,}[A-Za-z]{1,}$" title="Enter the name of the sender" aria-describedby="sender-hint" />
    <span class="hint" id="sender-hint">(At least two letters and spaces)</span>

    <label for="recipient">Recipient Number:</label>
    <input type="text" name="recipient" required pattern="^[0-9]{10,15}$" maxlength="15" title="Enter the phone number of the recipient" aria-describedby="recipient-hint" />
    <span class="hint" id="recipient-hint">(Numeric, 10 to 15 digits)</span>

    <label for="message">Message Text:</label>
    <textarea name="message" required maxlength="160" title="Enter the message text" aria-describedby="message-hint"></textarea>
    <span class="hint" id="message-hint">(Up to 160 characters)</span>

    <div class="toggle">
      <input type="checkbox" id="toggle-api" name="toggle-api" />
      <label for="toggle-api">Toggle API Key and API Secret</label>
    </div>

    <div id="api-key" style="display: none;">
      <label for="api_key">API Key:</label>
      <input type="text" name="api_key" value="{{ api_key }}" title="Enter the API key" aria-describedby="api-key-hint" />
    </div>

    <div id="api-secret" style="display: none;">
      <label for="api_secret">API Secret:</label>
      <input type="text" name="api_secret" value="{{ api_secret }}" title="Enter the API secret" aria-describedby="api-secret-hint" />
    </div>

    <input type="submit" value="Send SMS" />
  </form>
  <div id="status-message" aria-live="polite" role="status">
    {% if status_message %}
    <p>{{ status_message }}</p>
    <script>
      setTimeout(function() {
        window.location.href = '/';
      }, 3000);
    </script>
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>